* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration-line: none;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("./fonts/NotoSansKR-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("./fonts/NotoSansKR-ExtraBold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("./fonts/NotoSansKR-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("./fonts/NotoSansKR-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("./fonts/NotoSansKR-Regular.ttf") format("truetype");
  font-weight: 400;
}

.homepage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.homepage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.click1 {
	font-size: 1.2vw;
	font-family: NotoSansKR;
	font-weight: 400;
	letter-spacing: 0.02vw;
	position: fixed;
	top: 6vh;
	left: 47.7vw;
	text-shadow: 2px 2px 2px black;
	color: white;
}

.click1 p:hover {
	color: white;
	opacity: 0.8;
	font-size: 1.25vw;
	font-family: NotoSansKR;
	font-weight: 400;
}

.click2 {
	font-size: 1.2vw;
	font-family: NotoSansKR;
	font-weight: 400;
	letter-spacing: 0.02vw;
	position: fixed;
	left: 47vw;
	top: 25.1vh;
	text-shadow: 2px 2px 2px black;
	color: white;
}

.click2 p:hover {
	color: white;
	opacity: 0.8;
	font-size: 1.25vw;
	font-family: NotoSansKR;
	font-weight: 400;
}

.click3 {
	font-size: 1.2vw;
	font-family: NotoSansKR;
	font-weight: 400;
	letter-spacing: 0.02vw;
	position: fixed;
	left: 46.9vw;
	top: 51vh;
	text-shadow: 2px 2px 2px black;
	color: white;
}

.click3 p:hover {
	color: white;
	opacity: 0.8;
	font-size: 1.25vw;
	font-family: NotoSansKR;
	font-weight: 400;
}

.click4 {
	font-size: 1.2vw;
	font-family: NotoSansKR;
	font-weight: 400;
	letter-spacing: 0.02vw;
	position: fixed;
	left: 46.3vw;
	top: 75.6vh;
	text-shadow: 2px 2px 2px black;
	color: white;
}

.click4 p:hover {
	color: white;
	opacity: 0.8;
	font-size: 1.25vw;
	font-family: NotoSansKR;
	font-weight: 400;
}

footer {
	position: fixed;
	bottom: 46.5vh;
	left: 2vw;
	font-size: 0.7vw;
	color: white;
	opacity: 0.7;
	font-family: NotoSansKR;
	font-weight: 400;
}

/*<올라가는>*/
/*[올라가는1]*/
.woodlibraryimage {
	display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.woodlibraryimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.woodlibrarytext {
	position: fixed;
	left: 37.1vw;
	top: 47vh;
	font-size: 0.93vw;
	font-family: NotoSansKR;
	font-weight: 400;
	text-shadow: 2px 2px 2px black;
	text-align: center;
	line-height: 1.8vw;
}

.woodlibrarytext a:link {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.woodlibrarytext a:visited {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.woodlibrarytext a:hover {
	color: white;
	font-size: 0.95vw;
	font-family: NotoSansKR;
	font-weight: 400;
}

/*[올라가는2]*/
.outlibraryimage {
	display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.outlibraryimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.outlibrarytx {
	position: fixed;
	left: 35.5vw;
	bottom: 48.3vh;
	font-size: 0.93vw;
	font-family: NotoSansKR;
	font-weight: 400;
	text-shadow: 2px 2px 2px black;
	text-align: center;
	line-height: 1.8vw;
}

.outlibrarytx a:link {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.outlibrarytx a:visited {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.outlibrarytx a:hover {
 	color: white;
 	font-size: 0.95vw;
 	font-family: NotoSansKR;
	font-weight: 400;
}

/*[올라가는3]*/
.outscienceimg {
	display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.outscienceimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.outsciencetx {
	position: fixed;
	left: 33.5vw;
	bottom: 51vh;
	font-size: 0.93vw;
	font-family: NotoSansKR;
	font-weight: 400;
	text-shadow: 2px 2px 1.5px black;
	text-align: center;
	line-height: 1.8vw;
}

.outsciencetx a:link {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.outsciencetx a:visited {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.outsciencetx a:hover {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
	font-size: 0.95vw;
}

/*<내려가는>*/
/*[내려가는1]*/
.mixscienceimg {
	display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.mixscienceimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mixsciencetext {
	position: fixed;
	bottom: 61.3vh;
	left: 36.7vw;
	font-size: 0.93vw;
	font-family: NotoSansKR;
	font-weight: 400;
	text-shadow: 2px 2px 3px black;
	text-align: center;
	line-height: 1.7vw;
}

.mixsciencetext a:link {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.mixsciencetext a:visited {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.mixsciencetext a:hover {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
	font-size: 0.95vw;
}

/*[내려가는2]*/
.inscienceimg {
	display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.inscienceimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.insciencetext {
	position: fixed;
	left: 40.5vw;
	bottom: 59vh;
	font-size: 0.93vw;
	font-family: NotoSansKR;
	font-weight: 400;
	text-shadow: 2.5px 2.5px 2.5px black;
	text-align: center;
	line-height: 1.7vw;
}

.insciencetext a:link {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.insciencetext a:visited {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.insciencetext a:hover {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
	font-size: 0.95vw;
}

/*[어두운사선계단1]*/
.fiftystairimg {
	display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.fiftystairimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fiftystairtext {
	position: absolute;
	left: 16vw;
	bottom: 59vh;
	font-size: 0.93vw;
	font-family: NotoSansKR;
	font-weight: 400;
	text-shadow: 2px 2px 2px black;
	text-align: center;
	line-height: 1.7vw;
}

.fiftystairtext a:link {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.fiftystairtext a:visited {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.fiftystairtext a:hover {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
	font-size: 0.95vw;
}

/*[밝은사선계단2]*/
.nuristairimg {
	display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.nuristairimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nuristairtext {
	position: fixed;
	left: 21vw;
	bottom:58.5vh;
	font-size: 0.93vw;
	font-family: NotoSansKR;
	font-weight: 400;
	text-shadow: 2px 2px 2px black;
	text-align: center;
	line-height: 1.7vw;
}

.nuristairtext a:link {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.nuristairtext a:visited {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.nuristairtext a:hover {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
	font-size: 0.95vw;
}

/*[대비있는갈라진계단1]*/
.twostairimg {
	display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.twostairimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.twostairtext {
	position: fixed;
	font-size: 0.93vw;
	font-family: NotoSansKR;
	font-weight: 400;
	text-shadow: 2px 2px 2px black;
	line-height: 1.7vw;
	writing-mode: vertical-lr;
	left: 43vw;
	top: 4vh;
}

.twostairtext a:link {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.twostairtext a:visited {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.twostairtext a:hover {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
	font-size: 0.95vw;
}

/*[밝은갈라진계단2]*/
.twostair1img {
	display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.twostair1img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.twostair1text {
	position: fixed;
	font-size: 0.93vw;
	font-family: NotoSansKR;
	font-weight: 400;
	text-shadow: 2px 2px 2px black;
	line-height: 1.7vw;
	writing-mode: vertical-lr;
	left: 43vw;
	top: 4vh;
}

.twostair1text a:link {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.twostair1text a:visited {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.twostair1text a:hover {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
	font-size: 0.95vw;
}


/*<정면사진>*/
/*[반반계단]*/
.halfstairimg {
	display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.halfstairimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.halfstair1text {
	position: fixed;
	left: 14.5vw;
	bottom: 46.5vh;
	font-size: 0.93vw;
	font-family: NotoSansKR;
	font-weight: 400;
	text-shadow: 2.5px 2.5px 2px black;
	text-align: center;
	line-height: 1.8vw;
}

.halfstair1text a:link {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.halfstair1text a:visited {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.halfstair1text a:hover {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
	font-size: 0.95vw;
}

.halfstair2text {
	position: fixed;
	left: 57vw;
	bottom:48.2vh;
	font-size: 0.93vw;
	font-family: NotoSansKR;
	font-weight: 400;
	text-shadow: 2px 2px 2px black;
	text-align: center;
	line-height: 1.8vw;
}

.halfstair2text a:link {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.halfstair2text a:visited {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.halfstair2text a:hover {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
	font-size: 0.95vw;
}

/*[8각형석재계단]*/
.outlibrarystandimg {
	display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.outlibrarystandimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.outlibrarystandtext {
	position: fixed;
	left: 37vw;
	bottom:44vh;
	font-size: 0.93vw;
	font-family: NotoSansKR;
	font-weight: 400;
	text-shadow: 2.5px 2.5px 2px black;
	text-align: center;
	line-height: 1.7vw;
}

.outlibrarystandtext a:link {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.outlibrarystandtext a:visited {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.outlibrarystandtext a:hover {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
	font-size: 0.95vw;
}

/*[점자블록]*/
.circlepadimg {
	display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.circlepadimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circlepadtext {
	position: fixed;
	left: 37vw;
	bottom: 44.5vh;
	font-size: 0.93vw;
	font-family: NotoSansKR;
	font-weight: 400;
	text-shadow: 2.5px 2.5px 2px black;
	text-align: center;
	line-height: 1.7vw;
}

.circlepadtext a:link {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.circlepadtext a:visited {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.circlepadtext a:hover {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
	font-size: 0.95vw;
}

/*[난간]*/
.railingimg {
	display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.railingimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.railingtext {
	position: fixed;
	left: 35vw;
	bottom: 2vh;
	font-size: 0.93vw;
	font-family: NotoSansKR;
	font-weight: 400;
	text-shadow: 2.5px 2.5px 2px black;
	/*text-align: center;*/
	line-height: 1.6vw;
	writing-mode: vertical-lr;
}

.railingtext a:link {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.railingtext a:visited {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.railingtext a:hover {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
	font-size: 0.95vw;
}

/*[논슬립]*/
.nonslipimg {
	display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.nonslipimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nonsliptext {
	position: fixed;
	left: 32.5vw;
	bottom: 14vh;
	font-size: 0.93vw;
	font-family: NotoSansKR;
	font-weight: 400;
	text-shadow: 2.5px 2.5px 2px black;
	/*text-align: center;*/
	line-height: 1.6vw;
	writing-mode: vertical-lr;
}

.nonsliptext a:link {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.nonsliptext a:visited {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
}

.nonsliptext a:hover {
	color: white;
	font-family: NotoSansKR;
	font-weight: 400;
	font-size: 0.95vw;
}

.home {
	display: none;
}

@media screen and (max-width: 900px) {

	.homepage {
		display: none;
	}

	.home {
    display: block;
    width: 100vw;
    height: 100vh;
  }

  .home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .click1 {
  	position: absolute;
  	left: 50%;
    top: 10vh;
    transform: translateX(-50%);
  }

  .click2 {
  	position: absolute;
  	left: 50%;
    top: 35vh;
    transform: translateX(-50%);
  }

  .click3 {
  	position: absolute;
  	left: 50%;
    top: 57.5vh;
    transform: translateX(-50%);
  }

  .click4 {
    position: absolute;
  	left: 50%;
    top: 80vh;
    transform: translateX(-50%);
  }

  .click a {
    font-size: 15.5px;
  }

  .click a:hover{
  	color: white;
	  opacity: 0.8;
	  font-size: 14px;
	  font-family: NotoSansKR;
	  font-weight: 400;
  }

  footer {
  	position: absolute;
  	left: 50%;
    top: 96vh;
    transform: translateX(-50%);
	  font-size: 10px;
	  color: black;
	  font-family: NotoSansKR;
	  font-weight: 500;
  }

  .woodlibrary {
		display: none;
	}

	.wood {
    display: block;
    width: 100vw;
    height: 100vh;
  }

  .wood img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .woodlibrarytext {
  	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);    
  	color: white;
    font-size: 12px;
    line-height: 22px;   
  }

   .woodlibrarytext a:hover{
  	color: white;
	  opacity: 0.8;
	  font-size: 11.5px;
	  font-family: NotoSansKR;
	  font-weight: 400;
  }

  .outlibrary {
		display: none;
	}

	.estone {
    display: block;
    width: 100vw;
    height: 100vh;
  }

  .estone img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .outlibrarytx {
  	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);    
  	color: white;
    font-size: 12px;
    line-height: 22px;   
  }

   .outlibrarytx a:hover{
  	color: white;
	  opacity: 0.8;
	  font-size: 11.5px;
	  font-family: NotoSansKR;
	  font-weight: 400;
  }

  .out {
    display: block;
    width: 100vw;
    height: 100vh;
  }

  .outscience {
		display: none;
	}

  .out img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .outsciencetx {
  	position: absolute;
  	left: 50%;
  	top: 52.5%;
  	transform: translateX(-50%);    
  	color: white;
    font-size: 12px;
    line-height: 22px;   
  }

   .outsciencetx a:hover{
  	color: white;
	  opacity: 0.8;
	  font-size: 11.5px;
	  font-family: NotoSansKR;
	  font-weight: 400;
  }

  .mixscience {
  	display: none;
  }

  .down {
  	display: block;
  	width: 100vw;
  	height: 100vh;
  }

  .down img {
  	width: 100%;
  	height: 100%;
  	object-fit: cover;
  }

  .mixsciencetext {
  	position: absolute;
  	left: 50%;
  	top: 33%;
  	transform: translateX(-50%);    
  	color: white;
    font-size: 12px;
    line-height: 22px;   
  }

  .mixsciencetext a:hover{
  	color: white;
	  opacity: 0.8;
	  font-size: 11.5px;
	  font-family: NotoSansKR;
	  font-weight: 400;
  }

  .inscience {
  	display: none;
  }

  .dark {
  	display: block;
  	width: 100vw;
  	height: 100vh;
  }

  .dark img {
  	width: 100%;
  	height: 100%;
  	object-fit: cover;
  }

  .insciencetext {
  	position: absolute;
  	left: 50%;
  	top: 39%;
  	transform: translateX(-50%);    
  	color: white;
    font-size: 12px;
    line-height: 22px;   
  }

  .insciencetext a:hover{
  	color: white;
	  opacity: 0.8;
	  font-size: 11.5px;
	  font-family: NotoSansKR;
	  font-weight: 400;
  }

  .fiftystair {
  	display: none;
  }

  .black {
  	display: block;
  	width: 100vw;
  	height: 100vh;
  }

  .black img {
  	width: 100%;
  	height: 100%;
  	object-fit: cover;
  }

  .fiftystairtext {
  	position: absolute;
  	left: 11%;
  	top: 57%;  
  	color: white;
    font-size: 12px;
    line-height: 22px;   
  }

  .fiftystairtext a:hover{
  	color: white;
	  opacity: 0.8;
	  font-size: 11.5px;
	  font-family: NotoSansKR;
	  font-weight: 400;
  }

  .nuristair {
  	display: none;
  }

  .gray {
  	display: block;
  	width: 100vw;
  	height: 100vh;
  }

  .gray img {
  	width: 100%;
  	height: 100%;
  	object-fit: cover;
  }

  .nuristairtext {
  	position: absolute;
  	left: 16%;
  	top: 50%;    
  	color: white;
    font-size: 12px;
    line-height: 22px;   
  }

  .nuristairtext a:hover{
  	color: white;
	  opacity: 0.8;
	  font-size: 11.5px;
	  font-family: NotoSansKR;
	  font-weight: 400;
  }

  .twostair {
  	display: none;
  }

  .orange {
  	display: block;
  	width: 100vw;
  	height: 100vh;
  }

  .orange img {
  	width: 100%;
  	height: 100%;
  	object-fit: cover;
  }

  .twostairtext {
  	position: absolute;
  	left: 6%;
  	top: 32%;    
  	color: white;
    font-size: 12px;
    line-height: 22px;
  }

  .twostairtext a:hover{
  	color: white;
	  opacity: 0.8;
	  font-size: 11.5px;
	  font-family: NotoSansKR;
	  font-weight: 400;
  }

  .twostair1 {
  	display: none;
  }

  .light {
  	display: block;
  	width: 100vw;
  	height: 100vh;
  }

  .light img {
  	width: 100%;
  	height: 100%;
  	object-fit: cover;
  }

  .twostair1text {
  	position: absolute;
  	left: 81.5%;
  	top: 30%;    
  	color: white;
    font-size: 12px;
    line-height: 22px;
  }

  .twostair1text a:hover{
  	color: white;
	  opacity: 0.8;
	  font-size: 11.5px;
	  font-family: NotoSansKR;
	  font-weight: 400;
  }

  .halfstair {
  	display: none;
  }

  .two {
  	display: block;
  	width: 100vw;
  	height: 100vh;
  }

  .two img {
  	width: 100%;
  	height: 100%;
  	object-fit: cover;
  }

  .halfstair1text {
  	position: absolute;
  	writing-mode: vertical-lr;
  	left: 75%;
  	top: 15%;    
  	color: white;
    font-size: 12px;
    line-height: 22px;
  }

  .halfstair1text a:hover{
  	color: white;
	  opacity: 0.8;
	  font-size: 11.5px;
	  font-family: NotoSansKR;
	  font-weight: 400;
  }

  .halfstair2text {
  	position: absolute;
  	writing-mode: vertical-lr;
  	white-space: nowrap;
  	left: 75%;
  	top: 58%;    
  	color: white;
    font-size: 12px;
    line-height: 22px;
  }

  .halfstair2text a:hover{
  	color: white;
	  opacity: 0.8;
	  font-size: 11.5px;
	  font-family: NotoSansKR;
	  font-weight: 400;
  }

  .outlibrarystand {
  	display: none;
  }

  .frontstone {
  	display: block;
  	width: 100vw;
  	height: 100vh;
  }

  .frontstone img {
  	width: 100%;
  	height: 100%;
  	object-fit: cover;
  }

  .outlibrarystandtext {
  	position: absolute;
  	left: 20%;
  	top: 42%; 
  	color: white;
    font-size: 12px;
    line-height: 22px;
  }

  .outlibrarystandtext a:hover{
  	color: white;
	  opacity: 0.8;
	  font-size: 11.5px;
	  font-family: NotoSansKR;
	  font-weight: 400;
  }

  .circlepad {
  	display: none;
  }

  .circle {
  	display: block;
  	width: 100vw;
  	height: 100vh;
  }

  .circle img {
  	width: 100%;
  	height: 100%;
  	object-fit: cover;
  }

  .circlepadtext {
  	position: absolute;
  	left: 16.7%;
  	top: 42%; 
  	color: white;
    font-size: 12px;
    line-height: 22px;
  }

  .circlepadtext a:hover{
  	color: white;
	  opacity: 0.8;
	  font-size: 11.5px;
	  font-family: NotoSansKR;
	  font-weight: 400;
  }

  .railing {
  	display: none;
  }

  .rail {
  	display: block;
  	width: 100vw;
  	height: 100vh;
  }

  .rail img {
  	width: 100%;
  	height: 100%;
  	object-fit: cover;
  }

  .railingtext {
  	position: absolute;
  	left: 6%;
  	top: 4%; 
  	color: white;
    font-size: 12px;
    line-height: 22px;
  }

  .railingtext a:hover{
  	color: white;
	  opacity: 0.8;
	  font-size: 11.5px;
	  font-family: NotoSansKR;
	  font-weight: 400;
  }

  .nonslip {
  	display: none;
  }

  .slip {
  	display: block;
  	width: 100vw;
  	height: 100vh;
  }

  .slip img {
  	width: 100%;
  	height: 100%;
  	object-fit: cover;
  }

  .nonsliptext {
  	position: absolute;
  	left: 6%;
  	top: 4%; 
  	color: white;
    font-size: 12px;
    line-height: 22px;
  }

  .nonsliptext a:hover{
  	color: white;
	  opacity: 0.8;
	  font-size: 11.5px;
	  font-family: NotoSansKR;
	  font-weight: 400;
  }
}